<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#bfca21">
    <title>Articulation Pathways Angular Remake</title>
  </head>
  <body ng-app="ArticulationApp">
    <side-nav></side-nav>
    <div class="content" ng-view>

<!--       <outbound ng-if='sideNav.currentView == "outbound"'></outbound>
      <inbound ng-if='sideNav.currentView == "inbound"'></inbound>
 -->    </div>
  <script src="//localhost:35729/livereload.js"></script>
  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>