#pathways-loading-overlay {
  display: none;

  &.pathways-loading {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    opacity: .5;

    .ico {
      width: 60px;
      height: 60px;
      position: absolute;
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      opacity: 1;
      animation-name: rolling;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
    }
  }
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}