#modal-email-results {
  .error-message {
    background-color: $vanilla-ice;
    color: $valencia;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: none;

    ul {
      li {
        position: relative;
        padding-left: 12px;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        &:before {
          position: absolute;
          content: "!";
          color: $valencia;
          left: 0;
          font-weight: 600;
          font-size: 22px;
          line-height: 18px;
        }
      }
    }
  }

  .error-field {
    border: 1px solid $valencia !important;
    background: $vanilla-ice !important;
  }

}