main.pathways {
  #content {
    h1 {
      text-transform: capitalize;
    }

    #searchNoResults {
      text-align: center;
      font-weight: 600;
      margin: 40px 0 60px;
      font-size: em($f40);
    }

    #searchContainer {
      .search-container {
        button {
          font-size: em($f18);
          padding: 20px 35px;
          line-height: 1;
        }
      }

      .custom-search {
        input[type="search"] {
          font-size: em($f18);
          padding: 18px 25px;
          width: 410px;
          @include respond-max(768px) {
            width: 100%;
          }

          &:focus {
            box-shadow: 0 0 1px 1px $cerulean;  
          }
        }
      }
    }
  }

  .filter {
    .selector-options {
      fieldset {
        border: none;
      }
      
      label {
        span:last-child {
          @include respond-max(768px) {
            height: 136px;
            display: table-cell;
            vertical-align: middle;
          }
          @include respond-max(400px) {
            padding: 10px !important;
          }

          &.focused {
            box-shadow: 0 0 1px 1px $mine-shaft;
          }
        }
      }
    }

    .custom-select {
      select {
        line-height: 1.5;
      }

      &.focused {
        box-shadow: 0 0 1px 1px $cerulean;
      }
    }

    .buttons-search {
      max-width: 490px;
      @extend .clearfix-simba;
      
      button {
        line-height: 1.5;
        width: 100%;
        max-width: 240px;

        &#searchButton {
          float: none;
        }

        &#newSearchButton {
          margin-left: 0;
        }

        &#addSearchButton {
          margin-left: 3.0303030303%;
        }
      }
      
    }
  }

  #searchResults {
    display: none !important;
  }

  #searchResultsContainer {
    margin-bottom: 60px;
    border-bottom: 1px solid $dark-gray;

    h2 {
      text-align: center;
      margin: 20px 0 40px;
    }

    header {
      @include respond-max(500px) {
        font-size: 15px;
      }

      .add-search {
        float: right;
        text-align: right;
        padding: 0;
        border: 1px transparent dotted;
        color: $cerulean;
        font-weight: 600;
        @include respond-max(768px) {
          text-align: center;
        }

        button {
          color: $cerulean;
        }

        span {
          display: block;
          font-size: em($f16);
        }

        .ico {
          left: 7px;
        }
      }

      #clearResults {
        color: white;
        width: 100%;
        max-width: 240px;
        margin: 30px auto 30px 50%;
        transform: translateX(-50%);
      }
    }

    article {
      padding: 0 30px;
      @include respond-max(500px) {
        padding: 0 5%;
      }

      h3 {
        padding: 30px 0;

        a:first-child {
          margin-right: 0;
          word-break: break-word;
          @include respond-max(500px) {
            font-size: 18px;
          }

          &:hover,
          &:active,
          &:focus {
            cursor: default;
            text-decoration: none !important;
          }
        }

        a.delete-results-button {
          display: inline-block;
          position: absolute;
          width: 24px;
          height: 24px;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          padding: 0;

          .ico {
            &:hover,
            &:focus {
              cursor: pointer;
            }

            // &.minus,
            // &.plus {
            //   right: 30px;
            //   fill: $cerulean;

            //   &:hover,
            //   &:focus {
            //     fill: darken($cerulean, 20%);
            //   }
            // }

            // &.plus {
            //   display: none;
            // }

            &.close {
              display: inline-block;
              left: 0;
              fill: $valencia;

              &:focus,
              &:hover {
                fill: darken($valencia, 20%);
              }
            }
          }
        }
      }

      div {
        margin: 40px 0;
        border: 1px solid $alto;
        border-radius: 6px;
        @include respond-max(500px) {
          margin: 20px 0;
        }

        p {
          margin: 0;
          padding: 20px 0;
          @include respond-max(500px) {
            padding: 5px 0;
          }

          &:nth-child(2n+1) {
            background: $sea-shell;
          }
        }
      }

      .tbl-pathway-detail {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 7px;
        table-layout: fixed;

        tr {
          &:first-child {
            td {
              color: $mine-shaft;
              font-weight: 600;
            }
          }
        }

        td {
          word-wrap: break-word;
          padding: 10px 20px;
          vertical-align: top;
          @include respond-max(500px) {
            padding: 10px;
            font-size: 14px;
          }
          
          &:first-child {
            width: 40%;
            color: $mine-shaft;
          }

          &:last-child {
            width: 60%;
          }
        }
      }

      &.collapsed {
        h3 {
          padding: 30px 0;

          span {
            .ico {
              &.minus {
                display: none;
              }

              &.plus {
                display: inline-block;
              }
            }
          }
        }
      }

      
    }
  }
}